@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

/* Обнуление */
*{
    font-family: 'Lexend', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{
    outline: none;
}
a:focus,a:active{
    outline: none;
}
nav,footer,header,aside{
    display: block;
}
html,body{
    font-size: 10px;
    background: #110A1D ;
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    position: relative;
}
input,button,textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;
}
button{
    cursor: pointer;
}
button::-moz-focus-inner {
    padding:0;
    border:0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

.container{
    width: 100%;
    max-width: 164rem;
    margin: 0 auto;
    @include respond (tab-big){
        max-width: 130rem;
    }
    @include respond (tab-land){
        max-width: 115rem;
    }
    @include respond (tab-port){
        max-width: 95rem;
    }
    @include respond (phone){
        max-width: 76rem;
    }
    @include respond(main){
        max-width: 30rem;
    }
}

.blick-first{
    position: absolute;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0%, rgba(71, 139, 249, 0.7) 100%);
    opacity: 0.55;
    filter: blur(15rem);
    left: 0;
    top: 1rem;
    transform: rotate(-45deg);
    width: 22.6rem;
    height: 100rem;
}

.blick-second{
    position: absolute;
    right: 0;
    bottom: -13.4rem;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.7) 0%,rgba(71, 139, 249, 0.7) 100%);
    border-radius: 57.4rem;
    opacity: 0.7;
    filter: blur(32.5rem);
    width: 57.4rem;
    height: 57.4rem;
}